* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

html {
    scrollbar-width: none;
}

body {
    position: absolute;
    display: flex;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

p, h1, h2, h3, h4, h5, h6, label {
    margin: 0;
    padding: 0;
}

.mb {
    margin-bottom: 1em;
}

.text-light {
    color: rgb(255, 255, 255);
}

.text-bold {
    font-weight: bold !important;
}

.bg-gray {
    background-color: #0a1119;
}

.bg-white {
    background-color: white;
}

.bg-dark {
    background-color: #080e14;
}

input[type=checkbox] {
    margin: 0;
    padding: 0;
}
.text-xl { font-size: 42px;}
.text-l { font-size: 36px; }
.text-m { font-size: 30px; }
.text-s { font-size: 24px; }
.text-xs { font-size: 18px; }
.text-xxs { font-size: 14px; letter-spacing: 0.8px; }

@media (min-width: 1400px) {
    .alert {
        margin-top: 3em;
    }
    
}

header.p-header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;	
}

nav {
    padding-bottom: 0;
}

.navb {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-container, .sidebar {
    display: flex;
    align-items: center;
}

.navb ul, .sidebar ul {
    margin: 0;
}

.navb li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-id {
    justify-content: start;
}

.nav-container li, .sidebar li {
    list-style: none;
    width: auto;
}

.nav-container a, #home-id p {
    padding: 0 1.5em;
    height: 75px;
    line-height: 2.5em;
    transition: 0.3s;
}

.nav-container a:hover, #home-id p:hover, .sidebar li a:hover, .cat-head a:hover, .back-button a:hover, .time-field:hover {
    text-decoration: none;
    color: rgb(235, 235, 235);
    cursor: pointer;
}

#register-id, #login-id {
    display: flex;
    justify-content: center;
}

#home-id {
    width: 200px;
    height: 75px;
    transition: 0.6s;
}

.active {
    background-color: rgb(0, 0, 0, 0.3);
}

.gap {
    display: flex;
    gap: 2em;
}

.text {
    font-family: "Times new roman", Times, serif;
    text-decoration: none;
    font-weight: 400;
    color: rgb(219, 219, 219);
}

.font {
    font-family: Georgia, serif;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100% - 75px);
    overflow-x: hidden;
    margin-top: 75px;
    transition: 0.6s;
    padding: 3em;
}

@media (max-height: 800px) {
    .content-container {
        justify-content: flex-start;
    }
}

.content-container-sidebar {
    width: calc(100% - 200px);
    transform: translateX(200px);
}

.sidebar-container {
    position: fixed;
    left: -200px;
    padding: 0;
    width: 200px;
    height: calc(100% - 75px);
    margin-top: 75px;
    transition: 0.6s;
}

.sidebar-active {
    transform: translateX(200px);
}

.sidebar {
    flex-direction: column;
    height: 100%;
    width: 200px;
}

.sidebar li {
    margin-top: 20px;
}

.sidebar li a {
    transition: 0.3s;
}

.bg-lgreen {
    background-color: #acd4cb;
}

.bg-green {
    background-color: #529482;
}

.bg-dgreen {
    background-color: #1f5b4a;
}

.bg-ddgreen {
    background-color: #0a1912;
}

.items-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.flex-div {
    display: flex;
}

.round-corners {
    border-radius: 20px;
}

/* @media (max-width: 1200px) {
    .text-l { font-size: 144px; }
    .text-m { font-size: 120px; }
    .text-s { font-size: 96px; }
    .text-xs { font-size: 72px; }
    .text-xxs { font-size: 48px; }

    .nav-container a {
        padding: 0 1.5em;
        height: 200px;
        line-height: 2.5em;
        transition: 0.3s;
    }
} */