.home-page {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    margin-top: 1em;
    border-radius: 20px;
}

.page-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

a.submit-btn:hover {
    text-decoration: none;
    color: 	rgb(49, 49, 49);
}

.time-select {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

#time, #day {
    width: 120px;
    height: 34.28px;
}

#month-select-2, #year-select-2 {
    padding: 0;
    padding-left: 5px;
}

.time-field {
    display: flex;
    align-items: center;
    padding: 0.2em 1em;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

#expense-overview .time-field {
    height: 58px !important;
}

#year-select, #month-select {
    width: 8em;
}

#year-select-2:hover, #month-select-2:hover {
    color: rgb(49, 49, 49);
}

#year-select-2, #month-select-2 {
    height: 34.28px;
}

.date-time-select {
    display: flex;
    align-items: center;
}

a.time-field {
    line-height: 1em;
    padding: 0.6585em 1em;
}

.overview-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.cat-container, .subcat-container, .subcat-expenses  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s ease;
    width: 100%;
    overflow: hidden;
}

.closed {
    max-height: 0 !important;
}

.cat-closed {
    display: none;
}

.slider-closed {
    transition: 0.3s ease;
}

.cat-head, .subcat-name {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.cat-head {
    border-radius: 20px;
    transition: 0.6s ease;
    cursor: pointer;
}

.yearly-button {
    display: none;
}

.top-sibling {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bottom-sibling {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.cat-head a span {
    transition: 0.3s;
    margin-right: 4px;
    transform: translateY(3px);
}

.cat-legend {
    border-style: none;
    font-weight: bold;
}

.back-button {
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 0 1em;
    margin-right: 2em;
}

.back-button a {
    transform: translateY(4px);
    transition: 0.3s;
}

.subcat-name a {
    transition: 0.3s;
}

.subcat-name a:hover {
    text-decoration: none;
    color: rgb(94, 94, 94);
    cursor: pointer;
}


.desc-div {
    width: fit-content;
    max-width: 30vw;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
}

.desc-div p {
    text-align: justify;
}

.expense-sum-div {
    min-width: fit-content;
    justify-content: center;
    align-items: center;
}

.conc-div {
    width: 100%;
    height: fit-content;
    margin: 2em 0;
}

.conc-div > *:not(:last-child)::after, 
.subcat-container.edit-cat > *:not(:last-child)::after, 
.subcat-expenses > *:not(:last-child)::after,
#budget-conclusion > *:not(:last-child)::after {
    content: "";
    display: block;
    width: calc(100% - 2em);
    height: 0.5px;
    margin: auto;
    background-color: rgb(232, 232, 232);
}

.buttons-div {
    display: flex;
    justify-content: space-around;
}

#overview-page {
    flex-direction: row;
    width: 90%;
    min-height: fit-content;
    justify-content: stretch;
    align-items: start;
    gap: 1em;
}

#expense-overview {
    display: flex;
    flex-direction: column;
    justify-self: stretch;
    flex: 1 1 80%;
    min-height: fit-content;
}

.budgets-overview {
    display: none;
    flex-direction: column;
    height: 100%;
}

.budget-div {
    width: 248px !important;
    flex-grow: 0;
}

.expense-budget {
    display: flex;
    gap: 2em;
}

.subcat-name.budget-div, .cat-head.budget-div {
    justify-content: end;
}

.expense-budget #incomes-head:hover, .expense-budget #investing-head:hover {
    cursor: pointer !important;
}