.home-page {
    display: flex;
    width: 80%;
    height: fit-content;
    justify-content: center;
    margin-top: 1em;
    border-radius: 20px;
}

.page-top {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

a.submit-btn:hover {
    text-decoration: none;
    color: 	rgb(49, 49, 49);
}

.time-select {
    display: flex;
    gap: 2em;
}

.time-field {
    line-height: 2em;
    padding: 0.2em 1em;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

a.time-field {
    line-height: 1em;
    padding: 0.6585em 1em;
}

.overview-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.cat-container, .subcat-container, .subcat-expenses  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s ease;
    width: 100%;
    overflow: hidden;
}

.closed {
    max-height: 0 !important;
}

.cat-closed {
    display: none;
}

.slider-closed {
    transition: 0.3s ease;
}

.cat-head, .subcat-name {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cat-head {
    border-radius: 20px;
    transition: 0.6s ease;
    cursor: pointer;
}

.yearly-button {
    display: none;
}

.top-sibling {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bottom-sibling {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.cat-head a span {
    transition: 0.3s;
    margin-right: 4px;
    transform: translateY(3px);
}

.cat-legend {
    border-style: none;
    font-weight: bold;
}

.back-button {
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 0 1em;
    margin-right: 2em;
}

.back-button a {
    transform: translateY(4px);
    transition: 0.3s;
}

.subcat-name a {
    transition: 0.3s;
}

.subcat-name a:hover {
    text-decoration: none;
    color: rgb(94, 94, 94);
    cursor: pointer;
}

.subcat-name {
    width: 100%;
}

.desc-div {
    width: fit-content;
    max-width: 400px;
    justify-content: center;
    align-items: center;
}

.desc-div p {
    text-align: justify;
}

.expense-sum-div {
    min-width: fit-content;
    justify-content: center;
    align-items: center;
}