{% extends "layout.html" %}
{% block sisu %}
    <div class="form-container">
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            <fieldset>
                <legend class="form-legend text text-l">{{ get_lang(lang, "login", "login") }}</legend>
                <div class="form-pair">
                    <p class="text text-s">{{ get_lang(lang, "login", "email") }}</p>
                    {% if form.user_input.errors %}
                        {{ form.user_input(class="text text-s form-text invalid-div") }}
                        {% for error in form.user_input.errors %}
                            <div>
                                <span class="error-text text text-xxs">{{ get_lang(lang, "errors", error) }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.user_input(class="text text-s form-text") }}
                    {% endif %}
                </div>
                <div class="form-pair">
                    <p class="text text-s">{{ get_lang(lang, "login", "password") }}</p>
                    {% if form.password.errors %}
                        {{ form.password(class="text text-s form-text invalid-div") }}
                        {% for error in form.password.errors %}
                            <div>
                                <span class="error-text text text-xxs">{{ get_lang(lang, "errors", error) }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.password(class="text text-s form-text") }}
                    {% endif %}
                </div>
                <div class="login-div">
                    <div>
                        <div class="form-check">
                            {{ form.remember(class="form-check-input") }}
                            <p class="text text-xxs">{{ get_lang(lang, "login", "remember") }}</p>
                        </div>
                    </div>
                    <div class="forgot-password">
                        <p class="text text-xxs">{{ get_lang(lang, "login", "forgot") }} <a href="{{ url_for('users.reset_request') }}" class="text text-xxs">{{ get_lang(lang, "login", "click") }}</a></p>
                    </div>
                </div>
            </fieldset>
            <div class="form-pair">
                {{ form.submit(class="submit-btn text text-s") }}
            </div>
            <div class="link-div">
                <p class="text text-xs">{{ get_lang(lang, "login", "or") }} <a href="{{ url_for('users.register') }}" class="text text-xs">{{ get_lang(lang, "login", "register") }}</a></p>
            </div>
    </div>
{% endblock sisu %}