{% extends "layout.html" %}
{% block sisu %}
    <div class="form-container bg-gray">
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            <fieldset>
                <legend class="form-legend text text-l">{{ get_lang(lang, "edit_expense", "new_expense") }}</legend>
                <div class="form-pair">
                    <div class="buttons-container">
                        <script type="application/json" id="categories-data">
                            {{ categories|tojson }}
                        </script>
                        <script type="application/json" id="subcategories-data">
                            {{ subcategories|tojson }}
                        </script>
                        <script type="application/json" id="subcategories-names-data">
                            {{ subcategories_names|tojson }}
                        </script>
                        <div class="gap">
                            <div class="form-pair">
                                {{ form.categories.label(class="text text-s") }}
                                {{ form.categories(class="text text-s form-field form-text mselect") }}
                            </div>
                            <div class="form-pair">
                                {{ form.subcategories.label(class="text text-s") }}
                                {{ form.subcategories(class="text text-s form-field form-text mselect") }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-pair">
                    {{ form.expense.label(class="text text-s") }}
                    {% if form.expense.errors %}
                        {{ form.expense(class="text text-s form-text form-field invalid-div") }}
                        {% for error in form.expense.errors %}
                            <div>
                                <span class="error-text text text-xxs">{{ get_lang(lang, "errors", error) }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.expense(class="text text-s form-field form-text") }}
                    {% endif %}
                </div>
                <div class="date-time-select">
                    <div class="clock-select">
                        <div class="form-pair">
                            {{ form.time.label(class="text text-s") }}
                            <div class="time-select">
                                {% if form.time.errors %}
                                    <div class="form-date-pair">
                                        {{ form.time(class="text text-s form-text invalid-div form-field") }}
                                        {% for error in form.time.errors %}
                                            <div>
                                                <span class="error-text text text-xxs">{{ get_lang(lang, "errors", error) }}</span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="time-select">
                                        {{ form.time(class="text text-s form-text form-field") }}
                                    </div>
                                {% endif %}
                                {% if form.day.errors %}
                                    <div class="form-date-pair">
                                        {{ form.day(class="text text-s form-text invalid-div form-field") }}
                                        {% for error in form.day.errors %}
                                            <div>
                                                <span class="error-text text text-xxs">{{ get_lang(lang, "errors", error) }}</span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="time-select">
                                        {{ form.day(class="text text-s form-text form-field") }}
                                    </div>
                                {% endif %}
                                {{ form.month(class="text text-s form-text time-field form-field", id="month-select-2") }}
                                {{ form.year(class="text text-s form-text time-field form-field", id="year-select-2") }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-pair">
                    {{ form.description.label(class="text text-s") }}
                    {{ form.description(class="text text-s form-text form-field") }}
                </div>
            </fieldset>
            <div class="form-pair">
                {{ form.submit(class="submit-btn text text-s") }}
            </div>
    </div>
{% endblock sisu %}